/* Gallery.css */

.gallery-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: masonry;
    grid-gap: 1rem;
    padding: 10px;
    box-sizing: border-box;
}

.gallery-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
}
.gallery-item:nth-child(1){
    grid-column: span 4;
    grid-row: span 2;
}

.gallery-item:nth-child(2),
.gallery-item:nth-child(3){
    grid-column: span 2;
}

.gallery-item:nth-child(4),
.gallery-item:nth-child(5){
    grid-column: span 3;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item p {
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #333;
}

@media screen and (max-width: 650px){
    .gallery-container{
        display: block;
    }
    .gallery-item{
        margin-bottom: 1rem;
    }
}